.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #301d97;
}
.navBar a h3{
    font-size: 1.5em;
    color: #f1f1f1;
    text-decoration: none;
}
.Link_header a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.2em;
    padding: 0.3em 0.6em;
    transition: 0.5s;
}
.Link_header a + a{
    margin-left: 1.5em;
    border: 2px solid #f1f1f1;

}
.Link_header a:hover{
    background-color: #d1cfcf62;
}
.navBar img{
    width: 50px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.listItem {
    font-size: 1.2em;
}

.listItem a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 0.3em 0.5em;
    display: inline-block;
    transition: 1s;
}

.listItem a:hover {
    background-color: #d1cfcf62;
    border-radius: 10px;
}