.register_conteiner{
    padding: 1em 2em 0.3em 2em;
    text-align:center;
    border-radius: 2px;
    background-color:#fff;
    color:#222;
    border-radius:5px;
    box-shadow:2px 2px 4px #222;
}

.register_conteiner h1{
    margin-bottom:0.8em;
}
.message_register{
    color:#f81212;
    font-size: 1.2em;
    margin: 0.5em 0;
}
.register_conteiner p a{
    color:rgb(255, 0, 0);
    font-size:1.2em;
    text-decoration:none;
}