.pagination-container {
    display: flex;
    list-style-type: none;
    align-items:center;
    justify-content:space-around;
    margin: 30px auto;
    width:50%;

}
.pagination-item {
      background-color:#fff;  
      /* border: 2px solid #222; */
      padding: 10px;
      height: 30px;
      text-align: center;
      margin: 0 5px;
      color: #222;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      border-radius: 16px;
      font-size: 16px;
      
}
.pagination-item .dots:hover {
        color:#fff;
        background-color: red;
        cursor: default;
}
.pagination-item:hover {
        color:#fff;
        background-color: red;
        cursor: pointer;
}
  
.pagination-item.selected {
        background-color: rgba(0, 0, 0, 0.08);
}

