.projects_conteiner {
    padding: 2em;
    width:100%
}

.title_conteiner h1,
.title_conteiner h2,
.title_conteiner p {
    margin-bottom: 0.8em;
}

.projects_conteiner h2 {
    color:#fff;
    padding-left:0.5em;
    margin-bottom:1em;
}

.projects_conteiner span {
    font-weight: bold;
}

.title_conteiner,
.service_form_container {
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title_conteiner h1 {
    background-color: #fff;
    color: #222;
    padding: 0.4em;
}
.title_conteiner .form {
    width:100%
}
.service_form_container h2 {
    color: #fff;
    padding: 0.4em;
}

.button {
    background-color: #fff;
    color: #222;
    padding: 0.5em 0.8em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    max-height: 40px;
    font-weight: bold;
}

.button:hover {
    opacity:0.7;
}

.form {
    width: 90%;
    padding: 1em 2em 0.3em 2em;
    z-index:999;
    text-align:center;
    border-radius: 2px;
    background-color:#fff;
    color:#222;
    border-radius:5px;
    margin:1em auto;
}
.form h2 {
    color: #222;
    padding: 0.4em;
}
.form p{
    font-size:18px;
    text-align:justify;
}

