.input_Conteiner{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.input_Conteiner label{
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
}
.input_Conteiner input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #222;
    background-color:transparent;
}
.input_Conteiner input::placeholder{
    color: #fff;
    font-size: 1.2em;
}