.form_conteiner{
    height: 70%;
    padding: 1em 2em;
    z-index:999;
    text-align:center;
    border-radius: 2px;
    background-color:#fff;
    color:#222;
    border-radius:5px;
}

.form_conteiner h2{
    margin:0.8em 0;
}
.message_login{
    color:#f1f1f1;
    font-size: 1.2em;
    margin: 0.5em 0;
}
.form_conteiner p a{
    color:rgb(255, 0, 0);
    font-size:1.2em;
    text-decoration:none;
}