.container {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.headerLogged{
    align-items: center;
    justify-content: space-around;
}
.headerDeslogged{
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.start{
    justify-content:flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

.around{
    justify-content: space-evenly;
}
.min-heigth {
    min-height: 90%;
    justify-content: center;
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(255, 0, 0) 0%, rgb(255, 247, 0) 100%) repeat scroll 0% 0%;
}