.loader_Conteiner{
    width: 1000%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.loader{
    width: 100px;
}
.loader_Conteiner h2{
    color:#fff;
}